{{!-- Just some plain text --}}

<h1>Recipes database</h1>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="main.css">

{{!-- The Data from our Database --}}
<header>
    <nav class='global'>
        <a href='/'> Home Page | </a>
        <a href='/categories'> Categories | </a>
        <a href='/ingredients'> Ingredients | </a>
    </nav>
</header>
<br />
<br />

{{!-- Create a table --}}
<table id="equipment-table">
    <table border="1">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>delete</th>
            </tr>
        </thead>


        {{!-- Body section --}}
        <tbody>

            {{#each data}}
            <tr>
                <td>{{this.equipmentID}}</td>
                <td>{{this.equipmentName}}</td>
                <td>{{this.specialEquipment}}</td>
                <td><button onclick="deleteEquipment({{this.equipmentID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="./js/delete_equipment.js"></script>

    <h2>Adding Data </h2>
    <p>To add a new equipment, please enter the name and if it is a special equipment and click `Submit`!</p>
    <form id="add-equipment-form" method="POST" action="/add-equipment-form">
        <label for="input-equipmentName">Equipment Name: </label>
        <input type="text" name="input-equipmentName" id="input-equipmentName"> <br />

        <label for="input-specialEquipment">Is this a specialized equipment just for this recipe?</label>

        <select name="input-specialEquipment" id="input-specialEquipment">
            <option value="1">Yes</option>
            <option value="0">No</option>

        </select>
        <br />
        <button type="submit">Submit</button>
    </form>

    <form id="update-equipment-form-ajax">
        <legend>
            <h2>Update Equipment</h2>
        </legend>
        <fieldset class="fields">
            <label> Equipment ID: </label>
            <select name="update-equipmentID" id="mySelect">
                <option value="test">Select an EquipmentID</option>
                {{#each data}}
                <option value="{{this.equipmentID}}">{{this.equipmentID}}</option>
                {{/each}}
            </select>
            <label> Equipment Name </label> <input type="text" id="update-equipmentName">
            <label> Special Equipment </label>
            <select name="update-specialEquipment" id="update-specialEquipment">
                <option value="test">Is this a special Equipment?</option>
                <option value="0"> No </option>
                <option value="1"> Yes </option>
        </fieldset>

        <input class="btn" type="submit" id="updateSaveEquipment" value="Update Equipment">

    </form>


    <script src="./js/update_equipment.js"></script>